* {
    box-sizing: border-box;
}
  
body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 18px;
    line-height: 22px;
    color: #777777;
    background-color:#F7F6F2;
}

button {
    background-color: #0F224E;
    color:#F7F6F2;
    display: block;
    width: 300px;
    padding: 10px;
    margin: 10px auto;
  }
