* {
    box-sizing: border-box;
}
  
body {
    background-image: url("../../assets/images/computer.jpg"); 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    line-height: 22px;
    color: #777777;
    background-color:#F7F6F2;
    filter: blur(.5px);
}

.content-wrapper {
    max-width: 700px;
    margin: 50px auto;
    text-align: center;
    border:1px solid #0F224E;
    background-color:whitesmoke;
    /*text-shadow: 1px 1px 1px black;
    box-shadow: -2px -1px 1px #eee;*/
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    filter: alpha(Opacity=50%);
}

.column, .fixed-column {
    width: 50%;
    float: left;
}

.title {
    border-bottom: 1px solid #0F224E;
    
}
h1 { 
    font-size: 48px;
    text-shadow: 1px 1px 2px black;
    color:  #0F224E;
}
h2 { 
    font-weight:bold;
    font-size: 42px;
    text-shadow: 1px 1px 2px black;
    text-align:center;
    color:  #0F224E;
}


button {
    background-color: #0F224E;
    color:#F7F6F2;
    border:1px solid black;
    text-shadow: 1px 1px 12px black;
    display: block;
    width: 300px;
    padding: 20px;
    margin: 15px auto;
    font-size: 16px;
}

.center {
    margin: auto;
    width: 50%;
    border: 1px solid green;
}

#view-qtimer, 
#view-score
{
    background-color: white;
    color:#0F224E;
    border:1px solid black;
    display: block;
    width: 190px;
    padding: 20px;
    margin: 15px auto;
    font-size: 16px;
    /* border-radius: 5px; */
}
 
#view-caption {
    height: 30px;
}
#description {
    background-color: white;
    color:#0F224E;
    border:1px solid black;
    display: block;
    width: 300px;
    padding: 20px;
    margin: 15px auto;
    font-size: 16px;
    border-radius: 5px;
}
#view-message {
    color:#0F224E;
}
#view-image {
    height: 400px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 50px;
}

.quizImg {
    max-height: 400px;
    width: 300px;
    padding:2px;
    border:1px solid #0F224E;
    background-color:lightgray;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

/* -- lightgoldenrodyellow if the viewport is between 768px and 980px wide -- */
@media screen and (max-width: 980px) {
    body {
        background-color: lightgoldenrodyellow;
    } 
    .column {
        width: 50%;
    }
    .content-wrapper {
        margin: 0 auto;
    }

}

/* -- lavender if the viewport is between 640px and 768px wide -- */
@media screen and (max-width: 768px)  {
    body {
        background-color: lavender;
    } 
    .content-wrapper
    {
        padding-top: 0;
        padding-left: 15px;
        margin: 0;
    }
}

/* -- lightgreen if the viewport is less than 640px wide -- */
@media screen and (max-width: 640px) {
    body {
        background-color: lightgreen;
    } 
    h1, h2 { 
        text-align: center;
    }

    #view-qtimer, 
    #view-score {
        width: 150px;
        padding: 20px;
        margin: 5px auto;
    }

    .content-wrapper {
        width: 100%;
        max-width: 100%;
        padding-left: 0;
    }
    .column {
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }
}

/* -- lightgrey if the viewport is less than 640px wide -- */
@media screen and (max-width: 300px) {
    body {
        background-color: lightgrey; 
    } 

    .content-box {
       min-width: 266px;
    }
   
}
